@model List<AdminViewModel>

<h1>Admin</h1>

<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Can Create Blog Post</th>
            <th>Email Confirmed</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    <input type="checkbox" data-user-id="@user.Id" class="create-blog-post-checkbox" @(user.CanCreateBlogPost ? "checked" : "") />
                </td>
                <td>@user.EmailConfirmed</td>
                @if (!user.EmailConfirmed)
                {
                    <td>@user.Message</td>
                    <td>
                        <form asp-action="ConfirmEmail" method="post" class="d-inline">
                            <input type="hidden" asp-for="@user.Id" name="userId" />
                            <button type="submit" class="btn btn-sm btn-primary">Approve Account</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>@user.EmailConfirmed</td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var checkboxes = document.querySelectorAll(".create-blog-post-checkbox");

            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener("change", function () {
                    var userId = checkbox.getAttribute("data-user-id");
                    var isChecked = checkbox.checked;

                    fetch(`/Admin/UpdateCreateBlogPostClaim?userId=${userId}&canCreateBlogPost=${isChecked}`, {
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": document.getElementsByName("__RequestVerificationToken")[0].value
                        }
                    });
                });
            });
        });
    </script>
}